.zone{
	float: left;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
	margin: 20px 20px 20px 20px;
}

#planning {
	position: relative;
	clear: both;
}

#container {
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
	margin: 20px 0;
}

#mode {
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
	margin: 20px 20px 20px 20px;
	font-size: 20px;
}

#planning {display: block;}
#holder { border: 10px dashed #ccc; margin: 20px auto; display: inline-block;}
#holder.hover { border: 10px dashed #0c0; }
#holder img { display: block; margin: 10px auto; }
#holder p { margin: 10px; font-size: 14px; }
progress { width: 100%; }
progress:after { content: '%'; }
.fail { background: #c00; padding: 2px; color: #fff; }
.hidden { display: none !important;}